@(snippets:List[models.Snippet])

<script type="text/javascript" src="@asset("public/javascripts/syntaxhighlighter/shCore.js")"></script>
<script type="text/javascript" src="@asset("public/javascripts/syntaxhighlighter/shBrushScala.js")"></script> 

<link rel="stylesheet" media="screen" href="@asset("public/stylesheets/syntaxhighlighter/shCore.css")">
<link rel="stylesheet" media="screen" href="@asset("public/stylesheets/syntaxhighlighter/shThemeDefault.css")">       

@main(title = "Snippets") {


	@for(s <- snippets) {
		<h1>@s.title<h1>
		<h1>Code:</h1>
		<pre class="brush: scala">
		@s.code
		</pre>
		<h1>Result:</h1>
		<pre class="brush: scala">
		@s.result
		</pre>
	}
	
	<script type="text/javascript">
    	 SyntaxHighlighter.all()
	</script>
}